<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthUpdateUsageDescription</key>
	<string>O App precisa desse recurso para poder utilizar o recurdo de monitoramento de atividaide</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>O App precisa desse recurso para poder utilizar o recurdo de monitoramento de atividaide</string>
	<key>NSHealthShareUsageDescription</key>
	<string>O App precisa desse recurso para poder utilizar o recurdo de monitoramento de atividaide</string>
	<key>UIBackgroundModes</key>
	<array/>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
</dict>
</plist>
